@charset "UTF-8";

*
{
	font-size: 30px;
}

#content
{
	background-color: #f6f6f6;
}

.import
{
	background-color: #D9D9D9;
	margin: 2% 20%;
	
	display: flex;
	justify-content: center;  /* 가로 중앙 */
	align-items: center;      /* 세로 중앙 */
	flex-direction: column;
	height: 700px;
}

.import > table
{
	border: 3px black gray;	
	border-radius: 10px;
	margin: 1% 5% 4% 5%;
	
	border-collapse: separate;
	border-spacing: 0 20px;  /* td 간의 위아래 간격 */
}

.import td
{
	border: 1px solid gray;
	background-color: #E5E5E5;
	
	margin: 0% 5%;
	padding: 0% 5%;
	padding: 5%;
	padding-left: 5%;
	width: 1000px;
	height: 20px;
}