@charset "UTF-8";
.main .input-field {
	width: 100%;
}

.main label {
	font-weight: 500;
}

.main input {
	font-size: 1rem;
}

/* input.css */
.input-field input, #title {
	width: 100%;
	padding: 0.5rem 0.75rem;
	border: 1px solid #d1d5db;
	border-radius: 0.375rem;
	outline: none;
	transition: 0.2s;
}

.input-field input:focus, #title:focus {
	ring: 2px solid #3b82f6; /* focus-ring 효과 */
	border-color: #3b82f6;
}

/* label.css */
label {
	display: block;
	color: #374151; /* gray-700 */
	margin-bottom: 0.25rem;
}

/* button.css */
.button-group {
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
}

.button-group button {
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.button-group .btn-reset {
	background-color: #e5e7eb; /* gray-200 */
	color: #374151;
}

.button-group .btn-reset:hover {
	background-color: #d1d5db; /* gray-300 */
}

.button-group .btn-submit {
	background-color: #3b82f6; /* blue-500 */
	color: #fff;
}

.button-group .btn-submit:hover {
	background-color: #2563eb; /* blue-600 */
}

/* radio.css */
.radio-group label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.input-day {
	display: none;
}

.input-week {
	display: none;
}