@charset "UTF-8";
.table {
	width: 100%;
	border-collapse: collapse;
}

.table th, .table td {
	padding: 12px;
	border-bottom: 1px solid #e5e7eb;
	text-align: left;
}

.table th {
	font-weight: bold;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination span {
	margin: 0 5px;
	cursor: pointer;
	color: #3b82f6;
}

.write-button {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.write-button button {
	background-color: #3b82f6;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.write-button button:hover {
	background-color: #2563eb;
}

/* 클래스로 색깔 주기 가능. */

tbody .ready{
    background-color: #8ced8c;
}

tbody .started{
    background-color: #ffff7d;
}

tbody .ended{
    background-color: #ffa3a3;	
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}