@charset "UTF-8";

/* main.css */

*
{
	font-family: 맑은 고딕;
	color: #334433;
}

body, p, div, span, input, table, th, td, select, button
{
	font-size: 18pt;
}
input:focus
{
	background-color: #eeeedd;
}

.control
{
	border: 1px solid gray;
	border-radius: 3px;
}

.table
{
	border-collapse: collapse;
	width: 100%;
}

.table th, .table td
{
	border: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
	padding: 3px;
	line-height: 150%;
}

.table th
{
	font-weight: bold;
	background-color: #eeeeee;
}

.btn
{
	font-weight: bold;
	font-family: 맑은 고딕;
}

.btn:hover
{
	background-color: #778877;
	color: white;
}

.btn:active
{
	color: red;
}